.ltr-14o8fj0 {
    margin: 1em 0px 0px;
    padding-top: 4%;
    min-height: 65px;
    padding-bottom: 0%;
}@media screen and (min-width: 1400px)
{.ltr-m94oj6 {
    font-size: calc(1.125vw);
}}

.ltr-m94oj6 {
    display: inline-block;
    min-height: 65px;
    width: 100%;
    font-size: 1.5vw;
}@media (min-width: 1500px)
{.ltr-gncw81 {
    margin: 10px 60px;
}}@media screen and (max-width: 500px)
{.ltr-gncw81 {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0px;
    row-gap: 7.5vw;
}}
.ltr-gncw81 {
    overflow: hidden;
    margin: 0px 4% 10px;
    line-height: 1.6;
    display: grid;
    gap: 4vw 0px;
    grid-template-columns: repeat(6, 1fr);
}